target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Credentials ###
*.p12

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

reflection/resources/public/js/
reflection/figwheel_server.log
reflection/.sass-cache
reflection/resources/public/*.css*