.loading {
    position: absolute;
    display: block;
    top: 60px;
    left: 60px;
    z-index: 999;
}
.topbar {
    padding: 20px 0 400px 0;
    background-image: url("disco-bowl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.user-details {
    position: absolute;
    display: block;
    top: 20px;
    left: 20px;
    padding: 5px;
}
.user-details img {
    height: 100px;
}

.main-content {
    margin-top: 400px;
}

.error-text {
    padding-left: 5px;
}