.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 0 0 30px 0;
  margin: 0;
  list-style: none;
}

.flex-content {
  background: black;
  margin-top: 50px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  flex: 0 0 auto;
  margin-left: 30px;
}

.loading {
    position: absolute;
    display: block;
    top: 60px;
    left: 60px;
    z-index: 999;
}
.topbar {
    padding: 20px 0 0px 0;
    height: 400px;
    background-image: url("disco-bowl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.user-details {
    position: absolute;
    display: block;
    top: 20px;
    left: 20px;
    padding: 5px;
}
.user-details img {
    height: 100px;
}

.main-content {
    margin-top: 400px;
}

.error-text {
    padding-left: 5px;
}

.mbn {
    margin-bottom: 0px;
}

.disco-nav {
    background-color: #9671dd;
    border-color: #9671dd;
    border-radius: 0;
    color: #caff2b;
}

.bg-black {
    background-color: black;
}

.red {
    color: red;
}

.underline {
    text-decoration: underline;
}
